
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.counters{
  padding-right: 30px;
  font-size: 10px;
  text-align: center;
  strong{
    display: block;
    font-size: 1.5rem;
  }
  
  .vote, .answers{
    width: 60px;
    height: 60px;
  }
  .status{
    &.answered{
      border: 1px solid $color-green;
      color: $color-green;
    }
    &.answer-accepted{
      background: $color-green;
      color: #fff;
    }
    &.unanswered{
      border: none;
    }
  }
  .view{
    margin-top:10px;
  }
}
.form-delete{
  display: inline;
}
.margin-left{
  padding-left: 0;
}
.vote-control{
  margin-right: 15px;
  min-width: 60px;
  
  span, a{
    display: block;
    color: grey;
    text-align: center;
  }
  span{
    &.voteup-count{
      font-size: 20px;
      margin:0;
      padding: 0;
    }
    &.fav-count{
      font-size: 15px;
      color: $yellow-color;
      display: block;
    }
  }
  a{
    //cursor: pointer;
    &.vote-up{
      color: #636363;
    }
    
    &.vote-down{
      color: #9E9E9E;
    }
    
    &.vote-fav{
      &.favourited{
        color: $yellow-color;
      }
      &.off{
        color:#9E9E9E;
      }
    }
    &.vote-accepted{
      color:green;
    }
  }
  
}